<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magepow_Sizechart::elements" title="Size Chart" module="Magepow_Sizechart" parent="Magento_Catalog::catalog" sortOrder="10"  resource="Magepow_Sizechart::elements"/>
        <add id="Magepow_Sizechart::sizechart" title="Size Chart Management" module="Magepow_Sizechart" parent="Magepow_Sizechart::elements" sortOrder="20" action="magepow_sizechart/sizechart" resource="Magepow_Sizechart::sizechart"/>
        <add id="Magepow_Sizechart::config_sizechart" title="Configuration" module="Magepow_Sizechart" parent="Magepow_Sizechart::elements" sortOrder="30"
        action="adminhtml/system_config/edit/section/sizechart" resource="Magepow_Sizechart::sizechart_configuration"/>
    </menu>
</config>