<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<update id="magepow" title="Magepow" module="Magepow_Sizechart" sortOrder="10" resource="Magepow_Sizechart::magepow" />
    	<add id="Magepow_Sizechart::magepow" title="Size Chart" module="Magepow_Sizechart" sortOrder="10" parent="magepow" resource="Magepow_Sizechart::magepow" />
        <add id="Magepow_Sizechart::sizechart" title="Size Chart Management" module="Magepow_Sizechart" parent="Magepow_Sizechart::magepow" sortOrder="20" action="magepow_sizechart/sizechart" resource="Magepow_Sizechart::sizechart"/>
        <add id="Magepow_Sizechart::config" title="Configuration" module="Magepow_Sizechart" parent="Magepow_Sizechart::magepow" sortOrder="30"
        action="adminhtml/system_config/edit/section/magepow_sizechart" resource="Magepow_Sizechart::sizechart_configuration"/>
    </menu>
</config>